<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/acerca.jpg')"
  >
    <div class="sub-filter"></div>
  </div>

  <!-------------------------------------------------------------------->
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="name">
              <h1 class="title wow bounceInLeft" data-wow-delay="0.5s">
                ¿QUIÉNES SOMOS?.<br />
                <br />
              </h1>
              <h3 class="description wow slideInLeft" data-wow-delay="1s">
                Centro de estudios e investigaciones por la paz CesPaz.
              </h3>
              <br />
            </div>
            <h5 class="description wow slideInLeft" data-wow-delay="1.5s">
              Cespaz nació en el año 2013, producto del encuentro de varias
              personas de diferente índole: estudiantes, trabajadores, jóvenes y
              artistas,<strong
                >unidas por la necesidad de sembrar una semilla que permita
                generar transformaciones al interior de la región y el
                país</strong
              >
              . Luego de acompañar procesos de organización en varios
              escenarios, de participar de los diferentes espacios de
              articulación de los movimientos sociales y populares de la región
              y de hacer una lectura seria de la realidad nacional y local, los
              objetivos de nuestra organización fueron tomando un camino claro:
            </h5>
            <br />
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-6">
            <div class="card wow bounceInLeft" data-wow-delay="0.5s">
              <div class="card_image-holder">
                <i class="fa fa-book"></i>
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3>Primero.</h3>
                </div>
                <div class="card-descriptiona">
                  Consolidar una organización que más allá de generar su propia
                  agenda pueda vincular las distintas agendas de los movimientos
                  sociales y populares en aras de fortalecer dichos procesos.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card wow bounceInRight" data-wow-delay="0.5s">
              <div class="card_image-holder">
                <i class="fa fa-slideshare"></i>
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3>Segundo.</h3>
                </div>
                <div class="card-descriptiona">
                  Fomentar la investigación de los fenómenos sociales con la
                  idea de tener una perspectiva más clara de la realidad y a su
                  vez tener propuestas alternativas.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card wow bounceInLeft" data-wow-delay="0.5s">
              <div class="card_image-holder">
                <i class="fa fa-bullhorn"></i>
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3>Tercero.</h3>
                </div>
                <div class="card-descriptiona">
                  Impulsar todos los escenarios que se yerguen alrededor de la
                  lucha por la paz y justicia social a su vez que generar desde
                  la práctica cotidiana acciones que vayan trazando este camino.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card wow bounceInRight" data-wow-delay="0.5s">
              <div class="card_image-holder">
                <i class="fa fa-eye"></i>
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3>Cuarto.</h3>
                </div>
                <div class="card-descriptiona">
                  Recuperar el arte, la cultura y la educación como herramientas
                  de transformación social que pueden reconstruir el tejido de
                  la sociedad que hoy se encuentra fragmentada por factores
                  económicos, políticos y sociales.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------------------------------------->
</div>

<div class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title wow fadeInRight" data-wow-delay="0.5s">
          Te invitamos a leer la Primera Edición.
        </h2>
        <h3
          class="description wow fadeInRight"
          data-wow-delay="1s"
          style="text-align: center; padding: 10px"
        >
          <em>El Rincón cumple 60 años.</em>
        </h3>
        <p class="description wow fadeInRight" data-wow-delay="1.5s">
          El Rincón surgió como la propuesta de un muchacho veinteañero de tener
          un lugar para la buena música, en ese entonces el nombre originalmente
          hacía alución a la música culta, en Bethoven dice Don Olmedo.
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="section section-image section-login"
  style="background-image: url('assets/img/AcercaRevista.jpg')"
>
  <div class="container wow bounceInDown" data-wow-delay="1.5s">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
        <h3 class="title">Primera Edición.</h3>
        <div class="card">
          <img
            src="https://i.imgur.com/IE760Sy.png"
            alt=""
            class="img-rounded img-responsive"
            style="width: 400px; height: 500px"
          />
        </div>
        <div class="col text-center" routerLinkActive="active">
          <a
            href="https://equinoccioliterario.com/#/primera-edicion"
            target="_blank"
            class="btn btn-link btn-default btn-round"
            >Ver Edicion</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
