<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/memoria.jpg')"
  >
    <div class="sub-filter"></div>
  </div>

  <!-------------------------------------------------------------------->
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="name">
              <h1 class="title wow bounceInLeft" data-wow-delay="0.5s">
                MEMORIA.<br />
                <br />
              </h1>
              <h3 class="description wow slideInLeft" data-wow-delay="1s">
                Es un momento de inflexión de la historia de Colombia.
              </h3>
              <br />
            </div>
            <h5 class="description wow slideInLeft" data-wow-delay="1.5s">
              El papel del movimiento popular
              <strong> no se debe limitar a la pasividad contemplativa</strong>,
              es necesario articular los procesos que se han generado en torno a
              la paz y consolidar un bloque organizado, activo y con capacidad
              de movilización y confrontación, debemos adecuar nuevamente
              nuestro discurso, salir del rol en el que nos hemos encasillado de
              espectadores de la historia, y pasar a ser actores.
            </h5>
            <br />
          </div>
        </div>
        <br /><br />
        <div class="memory-gallery">
          <div class="container_memoria wow bounceInLeft" data-wow-delay="1s">
            <img src="../../../assets/img/campo.webp" class="image_memoria" />
            <div class="overlay_memoria">
              <div class="text_memoria">
                Dicotomía Ciudad-Campo (mini crónica).
                <br />
                <ng-template #Memoria1Content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">
                      Dicotomía Ciudad-Campo (mini crónica).
                    </h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                      Encontramos en Combia (una vereda de Risaralda a 30
                      minutos de Pereira) un grupo de campesinos con los que
                      habíamos hecho buenas migas luego del paro agrario del
                      2012, quedamos de realizar un intercambio de saberes,
                      nosotros (los compañeritos universitarios) daríamos unas
                      charlas de refuerzo para los niños y niñas de la vereda,
                      abriríamos la opción para alfabetizar a los adultos que
                      tuvieran problemas de lectura y escritura y finalmente
                      apoyaríamos la conformación de una cooperativa campesina;
                      a cambio don Efraín nos explicaría con detalle el proceso
                      del café (desde la siembra a la tuesta) y del plátano,
                      además de paso nos contaría las problemáticas del
                      campesino de a pie, como que el racimo de plátano lo
                      venden al filo de la carretera por $ 6.000 y el
                      intermediario por transportarlo 30 min. de la carretera a
                      la plaza de Pereira triplica el precio por la bajada y que
                      ese intermediario recurre a formas poco éticas para evitar
                      la competencia y mantener el monopolio.
                    </p>

                    <p>
                      Estábamos haciendo la planeación en la finca de don Javier
                      y para proponer la fecha, con calendario en mano, dije:
                    </p>

                    <p>
                      -¿Qué les parece de este fin de semana en quince
                      aprovechando que el lunes es festivo?
                    </p>

                    <p>De pronto don Javier me miró con sorna y respondió:</p>

                    <p>-Aquí en el campo no hay festivos.</p>

                    <p>
                      Guardamos silencio y tomamos un poco del café dulce, negro
                      y tibio que teníamos servido.
                    </p>

                    <p>
                      ¿Cómo pueden a tan solo 30 minutos de distancia
                      desaparecer los días festivos? aún me lo pregunto,
                      mientras los intermediarios hacen su agosto con el sudor
                      del campo y los que reclaman mueren en lugares donde se
                      trabaja, sin importar lo que diga el calendario, de lunes
                      a domingo.
                    </p>

                    <br />
                    <strong>
                      Eduardo Pulido G. <br />
                      <em>Cespaz.</em>
                    </strong>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-light"
                      (click)="modal.close('Close click')"
                    >
                      Cerrar
                    </button>
                  </div>
                </ng-template>
                <div class="card-actions">
                  <a
                    class="btn btn-link btn-default btn-round"
                    id="btn-memoria"
                    (click)="openlg(Memoria1Content)"
                  >
                    Leer Completo
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="container_memoria wow bounceInLeft" data-wow-delay="1.5s">
            <img src="../../../assets/img/cancer.webp" class="image_memoria" />
            <div class="overlay_memoria">
              <div class="text_memoria">
                Cáncer de mamá.
                <br />
                <ng-template #Memoria2Content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Cáncer de mamá.</h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                      Eliza es una mujer de 52 años, con ojos y cabello*
                      azabache, tez trigueña y de baja estatura (1,53 m). Se
                      casó aún sin cumplir la mayoría de edad y tuvo 4 hijos, el
                      matrimonio pronto marchitó y se quedó sola con sus
                      pequeños hasta que encontró al hombre que habría de estar
                      con ella, su escudero leal y quien la ha acompañado por 30
                      años en la lucha contra gigantes: Roberto.
                    </p>
                    <p>
                      Hasta aquí Eliza es una mujer casi prototípica colombiana,
                      excepto por algunos sucesos... Hace diez años, mientras
                      uno de sus hijos se encontraba trabajando en el taller
                      mecánico de su padre unos hombres lo abordaron para
                      hacerle una excelente oferta de empleo, él se fue con
                      ellos y semanas después apareció como un guerrillero dado
                      de baja. Así es: Eliza es madre de un falso positivo, dos
                      años más tarde otro de sus hijos fue asesinado al frente
                      de su casa en medio de la disputa por el manejo de la
                      droga de dos bandas (bacrim que mal llaman), él trabajaba
                      en el barrio vecino y por ello fue acusado de llevar
                      información. Murió en los brazos de Roberto, era el hijo
                      menor.
                    </p>
                    <p>
                      Y ahora, por si fuera poco el dolor de perder dos de sus
                      cuatro hijos y sufrir mil embates tratando de conocer la
                      verdad y hallar a los culpables de la muerte de su primer
                      hijo, le fue diagnosticado, hace apenas unos meses, cáncer
                      de mama. Uno de los senos con los que alimentó a sus
                      cuatro hijos fue parcialmente retirado y el tratamiento
                      con quimioterapia, igual que a su hermana hace 13 años, se
                      asomó a su puerta y dio el primero de los ocho golpes
                      calculados por el oncólogo.
                    </p>

                    <p>
                      Sin embargo, lo que motiva a escribir unas notas sobre
                      Eliza no es para crearle un papel de mártir, todo lo
                      contrario, es el estoicismo con el que ha sobrellevado,
                      junto con Roberto, cada golpe. Su mirada tiene una fuerza
                      irreductible a la vez que transparenta en sus ojos de
                      madre un amor sobrecogedor, Eliza nos atiende con un
                      ponqué Ramo y un jugo de guanábana mientras bromea con
                      Roberto sobre la mastectomía y la calvicie que ahora es de
                      ambos... de momento deja de reír y su voz toma un tono
                      solemne. Suspira con un vaho triste:
                    </p>

                    <p>
                      -”Solo me preocupaba que no estuviera demasiado avanzado,
                      yo me dije: si es tratable peleo, pero si está muy
                      complicado es mejor dejarlo seguir…”
                    </p>

                    <p>
                      Todos los exámenes para diagnosticar el cáncer se
                      realizaron de forma particular, Eliza está afiliada a
                      Salud, sin embargo, por tomar un caso, el examen con el
                      que le diagnosticaron el cáncer se lo habían mandado por
                      la EPS para dentro de 6 meses; pero la molestia que sentía
                      Eliza y su historial familiar la hicieron irse por la vía
                      privada, por ello el cáncer estaba afortunadamente (si
                      cabe en ella esa palabra) en etapa II, de manera que era
                      tratable, igual ocurrió con la de los exámenes que tuvo
                      que realizarse para el diagnóstico de la enfermedad.
                    </p>

                    <p>
                      Nuestra heroína se ha tenido que enfrentar ella con sus
                      1,52 mts de estatura tanto a la violencia directa de los
                      cincuenta años del conflicto armado, como a una violencia
                      no tan ruidosa, pero igual de lesiva: la violencia
                      económica del tercer país más desigual del mundo.
                    </p>

                    <p>
                      -“Este tipo de casos es muy complicado porque la vía
                      jurídica significa tiempo y el tiempo es algo que el
                      cáncer devora. Tengo amigos abogados que me habían dicho
                      que me asesoraban pero mientras me iba en pleitos
                      jurídicos con la EPS fue preferible, por cuestión de
                      salud, asumir las deudas. Lo único que espero es aliviarme
                      pronto para seguir peleando por la memoria de mi hijo, por
                      la verdad.”
                    </p>

                    <p>
                      Eliza parece no darle mucha importancia al tema de la
                      mastectomía, su hermana quien tuvo que realizarse una la
                      ayudó a tomar la decisión sin asomo de duda. En su voz se
                      nota que a una mujer que uno de los capítulos más oscuros
                      de violencia en el conflicto le ha arrancado dos de sus
                      hijos poco la puede conmover perder parcialmente uno de
                      sus senos.
                    </p>

                    <p>
                      En el mes de los derechos de la mujer, y mientras se
                      desarrollan los diálogos de la Habana, Eliza reconoce que
                      el fin del conflicto social y armado necesita para ella
                      principalmente una cosa: que se conozca toda la verdad
                      acerca de los crímenes cometidos por las partes en el
                      marco del conflicto (en su caso la participación de
                      agentes del estado y aparatos militares en los falsos
                      positivos).
                    </p>

                    <p>
                      Eliza hace parte de varias organizaciones de derechos
                      humanos y está activamente vinculada a Cespaz (Centro de
                      estudios e investigaciones por la paz); su conciencia no
                      provino precisamente de un ejercicio académico; la
                      realidad del conflicto y la violencia del estado
                      manifestada en el asesinato de sus hijos fue el motor que
                      la llevó a vincularse a los procesos sociales. Su libro
                      favorito es la Madre de Máximo Gorki.
                    </p>

                    <p>
                      Por lo pronto desde Cespaz, con la certeza de que pronto
                      saldrá de este percance, queremos acompañarla con este
                      poema de Benedetti:
                    </p>

                    <p>
                      Compañera usted sabe puede contar conmigo no hasta dos o
                      hasta diez sino contar conmigo
                    </p>

                    <p>
                      Si alguna vez advierte que la miro a los ojos y una veta
                      de amor reconoce en los míos no alerte sus fusiles ni
                      piense qué delirio a pesar de la veta o tal vez porque
                      existe usted puede contar conmigo
                    </p>

                    <p>
                      Si otras veces me encuentra huraño sin motivo no piense
                      qué flojera igual puede contar conmigo
                    </p>

                    <p>Pero hagamos un trato yo quisiera contar con usted</p>

                    <p>
                      Es tan lindo saber que usted existe uno se siente vivo y
                      cuando digo esto quiero decir contar aunque sea hasta dos
                      aunque sea hasta cinco no ya para que acuda presurosa en
                      mi auxilio sino para saber a ciencia cierta que usted sabe
                      que puede contar conmigo.
                    </p>

                    <br />
                    <strong>
                      Eduardo Pulido G. <br />
                      <em>Cespaz.</em>
                    </strong>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-light"
                      (click)="modal.close('Close click')"
                    >
                      Cerrar
                    </button>
                  </div>
                </ng-template>
                <div class="card-actions">
                  <a
                    class="btn btn-link btn-default btn-round"
                    id="btn-memoria"
                    (click)="openlg(Memoria2Content)"
                  >
                    Leer Completo
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------->
  </div>

  <div class="section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title wow fadeInRight" data-wow-delay="1s">
            Te invitamos a leer la Tercera Edición.
          </h2>
          <h3
            class="description wow fadeInRight"
            data-wow-delay="1s"
            style="text-align: center; padding: 10px"
          >
            <em>El puente natural de Pandi.</em>
          </h3>
          <p class="description wow fadeInRight" data-wow-delay="1.5s">
            La frontera que divide las poblaciones de pandi e icononzo está
            trazada por el río sumapaz, encima de él se yergue una descomunal
            obra de la naturaleza decorada por las manos del hombre: El puente
            Natural de Pandi.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="section section-image section-login"
    style="background-image: url('assets/img/revMemoria.jpg')"
  >
    <div class="container wow bounceInDown" data-wow-delay="1.5s">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
          <h3 class="title">Tercera Edición.</h3>
          <div class="card">
            <img
              src="https://i.imgur.com/lMQNNRu.png"
              alt=""
              class="img-rounded img-responsive"
              style="width: 400px; height: 500px"
            />
          </div>
          <div class="col text-center" routerLinkActive="active">
            <a
              href="https://equinoccioliterario.com/#/tercera-edicion"
              target="_blank"
              class="btn btn-link btn-default btn-round"
              >Ver Edicion</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
