<p class="txt-modal">
  Surge por la necesidad de reivindicar el papel de los artistas en la
  construcción de paz en Colombia. Teniendo en cuenta el contexto histórico por
  el que atraviesa el país, donde las partes que han protagonizado un conflicto
  armado desde hace 50 años están a punto de firmar un acuerdo de paz, se hace
  obligatorio generar espacios de opinión y nuevas pedagogías para transformar
  la mentalidad de una sociedad acostumbrada al odio y a la guerra y
  precisamente es el arte la herramienta para demoler esta estructura
  descompuesta que lleva más de medio siglo no conociendo otra cosa que el
  sonido de las balas..
</p>

<button
  class="btn btn-link btn-default btn-round"
  [routerLink]="['/festivales']"
>
  Conocer más.
</button>
