<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title wow fadeInRight" data-wow-delay="0.5s">
            ¿Qué es Ces Paz?
          </h2>
          <h5 class="description wow fadeInRight" data-wow-delay="1s">
            Cespaz surge en el año 2013 producto de la preocupación de algunos
            líderes sociales por acompañar y promover los diálogos de paz entre
            el gobierno nacional y las FARC – EP en la Habana Cuba. De la
            reflexión de la pregunta
            <strong
              >¿Cómo aportar al proceso de paz desde lo territorial?</strong
            >.
          </h5>
          <br />
          <a
            [routerLink]="['/acerca']"
            class="btn btn-link btn-default btn-round wow fadeInRight"
            data-wow-delay="1.5s"
            >Ver más Detalles</a
          >
        </div>
      </div>
      <br /><br />
      <div class="row wow fadeInRight" data-wow-delay="2.5s">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Arte & Cultura.</h4>
              <p class="description">
                Aprovechar los escenarios que nos presentan el arte y la cultura
                para fomentar la reconciliación.
              </p>
              <a
                [routerLink]="['/festivales']"
                class="btn btn-link btn-default btn-round"
                >Ver más</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Nuevas Ideas</h4>
              <p>
                Generar espacios de reflexión del papel del arte en la
                construcción de paz.
              </p>
              <a
                [routerLink]="['/memoria']"
                class="btn btn-link btn-default btn-round"
                >Ver más</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Alcances.</h4>
              <p>
                Legalizar nuestra organización proyectó, financiera y
                socialmente nuestras iniciativas.
              </p>
              <a
                [routerLink]="['/acerca']"
                class="btn btn-link btn-default btn-round"
                >Ver más</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Contextos de Paz</h4>
              <p>
                Organizaciones sindicales, campesinas, estudiantiles, barriales,
                juveniles, artísticas.
              </p>
              <a
                [routerLink]="['/paz-colombia']"
                class="btn btn-link btn-default btn-round"
                >Ver más</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-dark text-center">
  <div class="container">
    <h2 class="title wow fadeInDown" data-wow-delay="0.5s">
      Conoce algunos de nuestros miembros.
    </h2>
    <div class="row">
      <div class="col-md-4">
        <div
          class="card card-profile card-plain wow fadeInLeft"
          data-wow-delay="1s"
        >
          <div class="card-avatar">
            <a href="#avatar"><img src="./assets/img/diana.jpg" alt="..." /></a>
          </div>
          <div class="card-block">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Diana Marcela Corrales Loaiza.</h4>
                <h6 class="card-category">Presidenta.</h6>
              </div>
            </a>
            <p class="card-description text-center">
              Tecnóloga en Administración de Procesos del Turismo Sostenible de
              la Universidad Tecnológica de Pereira.
            </p>
          </div>
          <div class="card-footer text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          class="card card-profile card-plain wow fadeInUp"
          data-wow-delay="1s"
        >
          <div class="card-avatar">
            <a href="#avatar"><img src="./assets/img/nayis.jpg" alt="..." /></a>
          </div>
          <div class="card-block">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Nayibe Rivera Fernández.</h4>
                <h6 class="card-category">Secretaria General.</h6>
              </div>
            </a>
            <p class="card-description text-center">
              Economista de la Universidad Nacional de Colombia.
            </p>
          </div>
          <div class="card-footer text-center"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          class="card card-profile card-plain wow fadeInRight"
          data-wow-delay="1s"
        >
          <div class="card-avatar">
            <a href="#avatar"><img src="./assets/img/adgar.jpg" alt="..." /></a>
          </div>
          <div class="card-block">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Edgar Eduardo Pulido</h4>
                <h6 class="card-category">Fiscal.</h6>
              </div>
            </a>
            <p class="card-description text-center">
              Licenciado en Español y Literatura de la Universidad Tecnológica
              de Pereira.
            </p>
          </div>
          <div class="card-footer text-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>
