<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/fondo-festivales.jpg')"
  >
    <div class="sub-filter"></div>
  </div>

  <!-------------------------------------------------------------------->
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="name">
              <h1 class="title wow bounceInLeft" data-wow-delay="0.5s">
                FESTIVALES.<br />
                <br />
              </h1>
              <h3 class="description wow slideInLeft" data-wow-delay="1s">
                Festival Departamental de Artistas por la Paz
              </h3>
              <br />
            </div>
            <h5 class="description wow slideInLeft" data-wow-delay="1.5s">
              El Festival Departamental de Artistas por la Paz, en definitiva,
              es un esfuerzo denodado por
              <strong
                >contribuir a la construcción de paz a través de los recursos
                que ofrecen el arte y la cultura y, así, generar procesos de
                transformación que fortalezcan el tejido social</strong
              >
              y se conviertan en alternativas para la construcción de un país
              más justo, igualitario, diverso, plural y tolerante.
            </h5>
            <br />
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-4">
            <div class="card wow bounceInLeft" data-wow-delay="0.5s">
              <div class="card__image-holder">
                <img
                  class="card_image"
                  src="../../../assets/img/festival13.jpg"
                  style="width: 99%"
                />
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3 id="card-size">
                    <strong> <span class="roman">VI</span> </strong><br />
                    Festival de Artistas por la Paz.
                  </h3>
                </div>
                <div class="card-description">
                  Desde el comité de impulso del Festival Departamental de
                  Artistas por la paz hacemos extensiva la invitación a
                  participar.
                </div>
                <div class="card-flap">
                  <ng-template #VIFestivalContent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">
                        VI Festival Departamental de Artistas por la Paz.
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>¡Festival Departamental de Artistas por la Paz!</p>

                      <p>
                        Queremos presentar nuestro flayer oficial
                        correspondiente a la versión VIrtual de #ElFestiEnCasa.
                      </p>

                      <p>
                        El Fedearpaz nace hace hace 6 años con el fin de
                        apostarle a la construcción de paz en nuestro país a
                        través de la música, poesía, el arte y la cultura en
                        general. Las condiciones actuales impiden que realicemos
                        nuestras actividades de forma presencial.
                      </p>

                      <p>
                        La pandemia ha puesto en evidencia las desigualdades de
                        nuestro país, la violencia contra firmantes del acuerdo,
                        la violencia contra la mujer, entre otros ¡Ahora es
                        cuando el llamado al fin de la violencia debe hacerse
                        con fuerza!
                      </p>

                      <p>
                        Les invitamos a qué en conjunto, construyamos paz.
                        Prontamente estaremos publicando nuestro evento de
                        apertura y la agenda que tendremos.
                      </p>

                      <p>
                        Festival Departamental de Artistas por la PAZ ¡Nuestra
                        respuesta es la vida!
                      </p>

                      <img src="../../../assets/img/festival12.jpg" alt="" />
                      ​
                      <br />
                      <strong>
                        Nayibe Rivera. <br />
                        <em
                          >Coordinadora VI Festival Departamental de Artistas
                          por la paz.</em
                        >
                      </strong>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-light"
                        (click)="modal.close('Close click')"
                      >
                        Cerrar
                      </button>
                    </div>
                  </ng-template>
                  <div class="card-actions">
                    <a
                      class="btn btn-link btn-default btn-round"
                      (click)="openlg(VIFestivalContent)"
                    >
                      Leer más
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card wow bounceInDown" data-wow-delay="0.5s">
              <div class="card__image-holder">
                <img
                  class="card_image"
                  src="../../../assets/img/Vfestival .webp"
                />
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3 id="card-size">
                    <strong> <span class="roman">V</span> </strong><br />
                    Festival de Artistas por la Paz.
                  </h3>
                </div>
                <div class="card-description">
                  El Festival Departamental de Artistas por la Paz se ha
                  constituido como unos de los espacios de Paz reconocidos en la
                  región.
                </div>
                <div class="card-flap">
                  <ng-template #longContent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">
                        V Festival Departamental de Artistas por la Paz.
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        El Festival Departamental de Artistas por la Paz se ha
                        constituido como unos de los espacios de Paz reconocidos
                        en la región , continua siendo un esfuerzo de artistas,
                        jóvenes y lideres por lograr un país donde el lenguaje
                        sea la reconciliación, donde las diferencias se diriman
                        con propuestas y con diálogo, este esfuerzo ha brindado
                        frutos, para esta quinta versión contamos con el apoyo
                        del Ministerio de Cultura, autoridades locales y empresa
                        privada, que han decido creer en este gran proyecto, que
                        busca impactar a la ciudadanía. ​
                      </p>

                      <p>
                        Hoy ante un panorama no muy alentador para aquellos que
                        realizan esfuerzos en pro de la paz, se hace mas vigente
                        nuestro reclamo: Los jóvenes y futuras generación
                        queremos dejar atrás la guerra y ante ella nuestra
                        respuesta es la vida.
                      </p>

                      <img src="../../../assets/img/Vfestival2.jpg" alt="" />
                      ​
                      <br />
                      <strong>
                        Nayibe Rivera. <br />
                        <em
                          >Coordinadora V Festival Departamental de Artistas por
                          la paz.</em
                        >
                      </strong>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-light"
                        (click)="modal.close('Close click')"
                      >
                        Cerrar
                      </button>
                    </div>
                  </ng-template>
                  <div class="card-actions">
                    <a
                      class="btn btn-link btn-default btn-round"
                      (click)="openlg(longContent)"
                    >
                      Leer más
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card wow bounceInRight" data-wow-delay="0.5s">
              <div class="card__image-holder">
                <img
                  class="card__image"
                  src="../../../assets/img/festival3.jpg"
                  style="width: 97%"
                />
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3 id="card-size">
                    <strong> <span class="roman">IV</span> </strong><br />
                    Festival de Artistas por la Paz.
                  </h3>
                </div>
                <div class="card-description">
                  Es un proyecto organizado por jóvenes artistas, se lleva a
                  cabo anualmente desde el año 2015.
                </div>
                <div class="card-flap">
                  <ng-template #IVFestivalContent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">
                        IV Festival Departamental de Artistas por la Paz.
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        El Festival Departamental de Artistas por la Paz es un
                        proyecto organizado por jóvenes artistas y gestores
                        culturales del departamento de Risaralda(Colombia), se
                        lleva a cabo anualmente desde el año 2015 y tiene como
                        principal fin enviar un mensaje a la sociedad sobre la
                        necesidad de reconciliación, esta se ha convertido en
                        algo urgente para nuestra generación ya que con ella se
                        pretende dar un paso al frente y avanzar para superar la
                        violencia que ha caracterizado la historia del país, en
                        pocas palabras es el esfuerzo de los jóvenes por
                        procurar un país donde las diferencias se diriman con
                        palabras, música, canto, baile y no con balas como hasta
                        ahora se hace.
                      </p>
                      <p>
                        Hemos logrado llegar a nuestra cuarta versión, en
                        compañía de artistas de diferente regiones del País que
                        han aportado su arte en esta campaña de sensibilización,
                        que aunque lenta ha generado en la comunidad
                        Risaraldense el comienzo del uso de un lenguaje de Paz
                        que hace algunos años no se creía posible.
                      </p>
                      <p>
                        Extendemos a todos la invitación para que se unan a esta
                        propuesta y acompañen a aquellos que vemos en el arte
                        una posibilidad de cambiar.
                      </p>
                      <p>
                        Los esperamos del 18 al 21 de julio de 2018, en el
                        parque Olaya Herrera.
                      </p>

                      <img src="../../../assets/img/festival4.jpg" alt="" />
                      ​
                      <br />
                      <strong>
                        Nayibe Rivera. <br />
                        <em
                          >Coordinadora IV Festival Departamental de Artistas
                          por la paz.</em
                        >
                      </strong>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-light"
                        (click)="modal.close('Close click')"
                      >
                        Cerrar
                      </button>
                    </div>
                  </ng-template>
                  <div class="card-actions">
                    <a
                      (click)="openlg(IVFestivalContent)"
                      class="btn btn-link btn-default btn-round"
                      >Leer más</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card wow bounceInLeft" data-wow-delay="0.5s">
              <div class="card__image-holder">
                <img
                  class="card__image"
                  src="../../../assets/img/festival6.jpg"
                  style="width: 100%"
                />
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3 id="card-size">
                    <strong> <span class="roman">III</span> </strong><br />
                    Festival de Artistas por la Paz.
                  </h3>
                </div>
                <div class="card-description">
                  Colombia y el eje cafetero le han abierto las puertas al
                  Festival, y los artistas, como poetas tanto internacional como
                  nacionales.
                </div>
                <div class="card-flap">
                  <ng-template #IIIFestivalContent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">
                        III Festival Departamental de Artistas por la Paz.
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        El Festival Departamental de Artistas por la Paz llega a
                        su tercera muestra en el departamento de Risaralda y
                        convoca al eje cafetero como centro de expansión
                        cultural y social por medio del arte y la paz.
                      </p>

                      <p>
                        Después de llevarse a cabo dos festivales en donde la
                        ciudadanía ha participado de manera activa y abierta a
                        todas las posibilidades que abre el arte desde el
                        enfoque de la paz como construcción ciudadana, podría
                        pensarse que el camino está trazado pero que debemos
                        seguir luchando y abriendo espacios que medien entre el
                        disfrute, la interacción social y el ambiente pacífico y
                        constructor de nuevas oportunidades para la apertura a
                        la paz.
                      </p>

                      <p>
                        Colombia y el eje cafetero le han abierto las puertas al
                        Festival Departamental de Artistas por la Paz, y los
                        artistas, como poetas tanto internacional como
                        nacionales, dramaturgos y músicos llegan de diferentes
                        partes del país y del mundo para ofrecerles todo su
                        arte, que es la expresión máxima de su ser y una nueva
                        posibilidad para la paz, un discurso emancipador,
                        renovador de lo que significa el arte y la cultura
                        ciudadana para el mensaje de paz que florece en el
                        corazón de los pereiranos como una esperanza.
                      </p>

                      <p>
                        Sin más, se hace extensiva la invitación a participar de
                        manera activa en el III Festival de Artistas por la Paz,
                        dónde florece la esperanza en el mes de julio, los días
                        13, 14 y 15 en la ciudad de Pereira.
                      </p>

                      ​ ​

                      <img src="../../../assets/img/festival5.jpg" alt="" />
                      ​
                      <br />
                      <strong>
                        Jessica Galvis. <br />
                        <em
                          >Coordinadora III Festival Departamental de Artistas
                          por la paz.</em
                        >
                      </strong>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-light"
                        (click)="modal.close('Close click')"
                      >
                        Cerrar
                      </button>
                    </div>
                  </ng-template>
                  <div class="card-actions">
                    <a
                      (click)="openlg(IIIFestivalContent)"
                      class="btn btn-link btn-default btn-round"
                      >Leer más</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card wow bounceInUp" data-wow-delay="0.5s">
              <div class="card__image-holder">
                <img
                  class="card__image"
                  src="../../../assets/img/festival9.jpg"
                  style="width: 100%"
                />
              </div>

              <div class="card-flap">
                <div class="card-title">
                  <h3 id="card-size">
                    <strong> <span class="roman">II</span> </strong><br />
                    Festival de Artistas por la Paz.
                  </h3>
                </div>
                <div class="card-description">
                  Queremos invitar a todos los medios de comunicación, a
                  entidades públicas y privadas para que se unan a esta causa,
                  que busca llenar de arte las calles Pereiranas.
                </div>
                <div class="card-flap">
                  <ng-template #IIFestivalContent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">
                        II Festival Departamental de Artistas por la Paz.
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        Como resultado de una iniciativa de jóvenes
                        emprendedores y algunos artistas de la región, en el año
                        2015 nació el Festival Departamental de Artistas por la
                        Paz, que hoy está preparándose para llegar a Pereira con
                        su segunda versión.
                      </p>

                      <p>
                        “Queremos invitar a todos los medios de comunicación, a
                        entidades públicas y a entidades privadas para que se
                        unan a esta causa, que busca llenar de arte las calles
                        pereiranas”, comentó Eduardo Pulido, coordinador del
                        Festival.
                      </p>

                      <p>
                        Con el actual proceso de negociación por el que
                        atraviesa el país, El Festival Departamental de Artistas
                        por la Paz, se erige como un escenario en el que
                        confluyen propuestas artísticas, académicas, políticas y
                        sociales, todas concentradas en la creación de
                        escenarios y reflexiones que posibiliten el alcance de
                        la paz desde la convivencia ciudadana.
                      </p>

                      <p>
                        “En la primera versión del Festival Departamental de
                        Artistas por la Paz se presentaron 25 artistas
                        nacionales y 3 internacionales provenientes de Cuba,
                        Barbados y Croacia”, agregó el Coordinador del evento.
                      </p>

                      <p>
                        De esta manera, se hace extensiva la invitación a
                        artistas risaraldenses para que se unan al II Festival
                        Departamental del Artistas por la Paz, para vivenciar el
                        arte y la cultura como expresión de posibilidades y
                        caminos de vida que enaltezcan el país y a los nuevos
                        escenarios que ofrece el posconflicto.
                      </p>

                      <img src="../../../assets/img/festival8.jpg" alt="" />
                      ​
                      <br />
                      <strong>
                        Nayibe Rivera. <br />
                        <em
                          >Coordinadora II Festival Departamental de Artistas
                          por la paz.</em
                        >
                      </strong>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-light"
                        (click)="modal.close('Close click')"
                      >
                        Cerrar
                      </button>
                    </div>
                  </ng-template>
                  <div class="card-actions">
                    <a
                      (click)="openlg(IIFestivalContent)"
                      class="btn btn-link btn-default btn-round"
                      >Leer más</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card wow bounceInRight" data-wow-delay="0.5s">
              <div class="card__image-holder">
                <img
                  class="card__image"
                  src="../../../assets/img/festival10.jpg"
                  style="width: 101%"
                />
              </div>

              <div class="card-flap">
                <ng-template #IFestivalContent let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">
                      I Festival Departamental de Artistas por la Paz.
                    </h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                      Los días 15, 16 y 17 de julio del año 2015 se realizó la
                      primera versión del Festival Departamental de artistas por
                      la paz en Pereira capital del departamento de Risaralda
                      (Colombia); este primer escenario fue impulsado por
                      numerosas organizaciones sociales y culturales de la
                      región de las que se destacan: Cespaz, Cooeducar y el
                      Sindicato de Educadores de Risaralda. En el festival se
                      hicieron presentes reconocidos artistas nacionales como
                      Julián Rodríguez (cantautor social) y Patricia Ariza
                      (cofundadora de la Corporación Colombiana de Teatro). En
                      los tres días del evento hubo presentaciones de grupos de
                      teatro, música y artistas plásticos tanto del departamento
                      como de otras latitudes del país. Especial mención tuvo la
                      lectura de poesía que, dentro de los 21 poetas que
                      participaron contó con tres de talla internacional: Marko
                      Pogacar (Croacia), Jamila Medina (Cuba) y Winston Farrell
                      (Barbados) en un acuerdo mancomunado con el Festival
                      Internacional de Poesía de Medellín.
                    </p>
                    <p>
                      El Festival Departamental de Artistas por la Paz, surge
                      por la necesidad de reivindicar el papel de los artistas
                      en la construcción de paz en Colombia. Teniendo en cuenta
                      el contexto histórico por el que atraviesa el país, donde
                      las partes que han protagonizado un conflicto armado desde
                      hace 50 años están a punto de firmar un acuerdo de paz, se
                      hace obligatorio generar espacios de opinión y nuevas
                      pedagogías para transformar la mentalidad de una sociedad
                      acostumbrada al odio y a la guerra y precisamente es el
                      arte la herramienta para demoler esta estructura
                      descompuesta que lleva más de medio siglo no conociendo
                      otra cosa que el sonido de las balas.
                    </p>
                    <p>
                      Para este año se tiene previsto continuar con el II
                      Festival Departamental de Artistas por la Paz en el mes de
                      julio, cuyo objetivo fundamental es respaldar los diálogos
                      de paz de la Habana y sensibilizar a la población sobre la
                      importancia de la reconciliación para construir un nuevo
                      país.
                    </p>
                    <p>
                      Adenda: en las próximas semanas se abrirá la convocatoria
                      para aquellas organizaciones y personas que quieran apoyar
                      este proyecto de paz en la región.
                    </p>

                    <img src="../../../assets/img/festival11.jpg" alt="" />
                    ​
                    <br />
                    <strong>
                      Nayibe Rivera. <br />
                      <em
                        >Coordinadora I Festival Departamental de Artistas por
                        la paz.</em
                      >
                    </strong>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-light"
                      (click)="modal.close('Close click')"
                    >
                      Cerrar
                    </button>
                  </div>
                </ng-template>
                <div class="card-title">
                  <h3 id="card-size">
                    <strong> <span class="roman">I</span> </strong><br />
                    Festival de Artistas por la Paz.
                  </h3>
                </div>
                <div class="card-description">
                  Los días 15, 16 y 17 de julio del año 2015 se realizó la
                  primera versión del Festival en Pereira capital del
                  departamento de Risaralda.
                </div>
                <div class="card-flap">
                  <div class="card-actions">
                    <a
                      (click)="openlg(IFestivalContent)"
                      class="btn btn-link btn-default btn-round"
                      >Leer más</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------------------------------------->
</div>

<div class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title wow fadeInRight" data-wow-delay="0.5s">
          Te invitamos a leer la Segunda Edición.
        </h2>
        <h3
          class="description wow fadeInRight"
          data-wow-delay="1s"
          style="text-align: center; padding: 10px"
        >
          <em
            >Cantos de Agua Dulce y Salada, Remembranzas Ancestrales en el
            Pacífico Colombiano.</em
          >
        </h3>
        <p class="description wow fadeInRight" data-wow-delay="1.5s">
          Un planchón de madera de dos pisos adornado con velas, guirnaldas y
          colores de donde salen mujeres cantando y tocando su guasá, los
          hombres su cununo, su bombo y su marimba como si surgieran de una
          cajita de música.
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="section section-image section-login"
  style="background-image: url('assets/img/festivalyrevista.jpg')"
>
  <div class="container wow bounceInDown" data-wow-delay="1.5s">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
        <h3 class="title">Segunda Edición.</h3>
        <div class="card">
          <img
            src="https://i.imgur.com/bAhiARA.png"
            alt=""
            class="img-rounded img-responsive"
            style="width: 400px; height: 500px"
          />
        </div>
        <div class="col text-center" routerLinkActive="active">
          <a
            href="https://equinoccioliterario.com/#/segunda-edicion"
            target="_blank"
            class="btn btn-link btn-default btn-round"
            >Ver Edicion</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
