<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/guacamaya.jpg')"
  >
    <div class="sub-filter"></div>
  </div>

  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="name">
              <h1 class="title wow bounceInLeft" data-wow-delay="0.5s">
                PAZ EN COLOMBIA.<br />
                <br />
              </h1>
              <h3 class="description wow slideInLeft" data-wow-delay="1s">
                Las Otras Formas del <strong>NO</strong>.
              </h3>
              <br />
            </div>

            <ng-template #PazContent let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Las otras formas del No.</h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="../../../assets/img/otras.webp" alt="" />
                <p>
                  De aprobarse el Fast track en la corte entre hoy y mañana se
                  despejará de nuevo el camino para la implementación de los
                  acuerdos sembrado con minas por la victoria del No en el
                  plebiscito; pese a las modificaciones que tuvo que sufrir el
                  acuerdo diseñado en la Habana y gracias a las manos
                  quirúrgicas con las que el equipo negociador de las FARC - EP
                  y el gobierno, apoyados, claro está, por la movilización en
                  las calles de los que defendemos la paz, la gran herida
                  abierta el 2 de octubre ha sido sellada, con una cicatriz
                  mucho más pequeña de lo esperado.
                </p>
                <p>
                  Sin embargo, la derrota sufrida por la paz el 2 de octubre es
                  solo una de las formas en las que los promotores del No se
                  manifiestan, es necesario reconocer, tal como lo hizo el
                  equipo negociador, que dentro de la votación por el No hubo
                  una población variopinta; por el No votaron algunas gentes
                  sensatas, personas a quienes el conflicto ha golpeado de
                  manera tal que les cuesta aceptar la reconciliación; también
                  votaron por el No una gran masa de ingenuos, caldo de cultivo
                  de la propaganda negra desplegada por redes sociales y medios
                  de comunicación, cooptados por discursos carentes de contenido
                  pero de fraseología pegajosa: ideología género, entrega del
                  país al terrorismo, consolidación del castrochavismo ateo,
                  etc. Y finalmente votaron por el No y de hecho dirigieron la
                  campaña, los amantes de la guerra, un sector de la clase
                  dominante que ha hecho su riqueza con base en la sangre de los
                  campesinos, el mismo sector que heredó las formas de la
                  masacre de las bananeras, del asesinato de Gaitán, del
                  genocidio de la UP y que lamentablemente han ido propagando su
                  discurso de odio en buena parte de la población.
                </p>
                <p>
                  Un sector que está enquistado en las Fuerzas Militares, en los
                  mandos medios, en el lanza de a pie, que tiene adalides en
                  toda la estructura del estado, en los medios de comunicación y
                  que entiende las formas de lucha como jamás las ha entendido
                  la izquierda, que ha sabido convertir el músculo paramilitar
                  de un ruidoso problema del campo a un silencioso aliado en las
                  ciudades, el 2 de octubre permitió comprender eso, las
                  supuestas Bacrim acéfalas en las ciudades se unieron todas al
                  unísono por la campaña del No y su discurso por años limitado
                  al microtráfico volvió a tener un sentido político, solo que
                  ahora no están en las selvas húmedas del Urabá, sino que están
                  atenazados a lo largo de las periferias de las grandes
                  ciudades del país.
                </p>
                <p>
                  La fórmula parece simple, mientras se promueve desde la
                  legalidad la campaña contra el proceso de paz (sin entrar en
                  los detalles de la propaganda negra) desde el otro lado se
                  asesinan a líderes sociales de manera sistemática en
                  diferentes puntos del país, algún francotirador dispara a
                  guerrilleros desarmados, y posiblemente veamos pronto algún
                  autoatentado o atentando rimbombante para mancillar aún más la
                  posibilidad de la construcción de paz en Colombia. Nadie más
                  que ellos saben que la guerra en Colombia es hematófaga,
                  necesita litros diarios de sangre para vivir.
                </p>
                <p>
                  Y mientras los enemigos de la paz insisten en continuar sus
                  ofrendas a las Keres, el gobierno es tímido en señalar sus
                  actos, hay una historia en común que hace difícil su
                  separación, de alguna manera son hermanos siameses que han
                  estado unidos por más de cincuenta años y para separarlos es
                  necesario que uno muera. Sin embargo la paz demanda ello, de
                  no hacerse repetiremos la historia del genocidio de la UP y el
                  conflicto armado entrará en una nueva fase, una que más sangre
                  que una película de Tarantino.
                </p>
                <p>
                  Es indudable que nos encontramos en un momento de inflexión de
                  la historia de Colombia y el papel del movimiento popular y de
                  las organizaciones de izquierda (de la izquierda real) no se
                  debe limitar a la pasividad contemplativa, es necesario
                  articular los procesos que se han generado en torno a la paz y
                  consolidar un bloque organizado, activo y con capacidad de
                  movilización y confrontación, debemos adecuar nuevamente
                  nuestro discurso, salir del rol en el que nos hemos
                  encasillado de espectadores de la historia, y pasar a ser
                  actores.
                </p>
                ​
                <br />
                <strong>
                  Edgar Eduardo Pulido G. <br />
                  <em
                    >Coordinador Festival Departamental de Artistas por la
                    paz.</em
                  >
                </strong>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="modal.close('Close click')"
                >
                  Cerrar
                </button>
              </div>
            </ng-template>
          </div>
        </div>
        <br /><br />

        <div class="row" id="modals">
          <div class="col-md-6">
            <div
              class="card page-carousel wow bounceInLeft"
              data-wow-delay="2s"
            >
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img
                    src="../../../assets/img/pazcolombiaslider/1 CONCIERTO FOLCLOR 03.jpg"
                  />
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="../../../assets/img/pazcolombiaslider/1 CONVERSATORIO ENCUENTRO POR EL ARTE LA PAZ Y LA CULTURA 02.jpeg"
                  />
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="../../../assets/img/pazcolombiaslider/1 TEATRO EL GATO Y LOS RATONES 04.jpg"
                  />
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="../../../assets/img/pazcolombiaslider/2 SEGUNDO TALLER DE CARICATURA 03.jpg"
                  />
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="../../../assets/img/pazcolombiaslider/4 CONCIERTO MARSELLA 04.jpg"
                  />
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="../../../assets/img/pazcolombiaslider/4 CONCIERTO MARSELLA 08.jpg"
                  />
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
          <div class="col-md-6">
            <p class="txt-modal-paz wow bounceInLeft" data-wow-delay="2.5s">
              De aprobarse el Fast track en la corte entre hoy y mañana se
              despejará de nuevo el camino para la implementación de los
              acuerdos sembrado con minas por la victoria del No en el
              plebiscito; pese a las modificaciones que tuvo que sufrir el
              acuerdo diseñado en la Habana y gracias a las manos quirúrgicas
              con las que el equipo negociador de las FARC - EP y el gobierno,
              apoyados, claro está, por la movilización en las calles de los que
              defendemos la paz, la gran herida abierta el 2 de octubre ha sido
              sellada, con una cicatriz mucho más pequeña de lo esperado.
            </p>

            <a
              class="btn btn-link btn-default btn-round wow bounceInLeft"
              data-wow-delay="0.5s"
              (click)="openlg(PazContent)"
            >
              Leer Completo
            </a>
          </div>

          <br />
        </div>

        <!-------------------------------------------------------------------->
      </div>
    </div>
  </div>
  <!-------------------------------------------------------------------------------------->
  <div class="section javascript-components">
    <div class="container"></div>
  </div>
  <!-------------------------------------------------------------------->
</div>

<nav class="navbar navbar-expand-lg navbar-transparent">
  <div class="container"></div>
</nav>

<div class="section section-dark section-nucleo-icons">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="name">
          <h2 class="title wow bounceInLeft" data-wow-delay="1s">
            Acuerdos de <strong> Paz</strong> .
            <br />
          </h2>
          <h3 class="wow slideInLeft" data-wow-delay="1.5s">
            Acuerdo Final para la terminación del conflicto y la construcción de
            una paz, estable y duradera.
          </h3>
          <br />
        </div>
        <br />
        <br />
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-dark wow bounceInLeft" data-wow-delay="2s">
            <div class="card-flap">
              <div class="card-title" style="color: white">
                <h3>Acuerdo Final</h3>
              </div>
              <div class="card-descriptiona">
                Para la Terminación del Conflicto y la Construcción de una Paz
                Estable y Duradera.
              </div>
              <div class="card-actions">
                <a
                  class="btn btn-link btn-default btn-round"
                  href="https://www.jep.gov.co/Marco%20Normativo/Normativa_v2/01%20ACUERDOS/N01.pdf"
                  target="_blank"
                >
                  Leer más
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-dark wow bounceInLeft" data-wow-delay="3s">
            <div class="card-flap">
              <div class="card-title" style="color: white">
                <h3>Acuerdo Especial.</h3>
              </div>
              <div class="card-descriptiona">
                D​e Ejecución para Seleccionar al Secretario Ejecutivo de la
                Jurisdicción Especial para la Paz y Asegurar su Oportuna Puesta
                en Funcionamiento.
              </div>
              <div class="card-actions">
                <a
                  class="btn btn-link btn-default btn-round"
                  href="https://www.jep.gov.co/Marco%20Normativo/Normativa_v2/01%20ACUERDOS/N02.pdf"
                  target="_blank"
                >
                  Leer más
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title wow fadeInRight" data-wow-delay="0.5s">
          Te invitamos a leer la Cuarta Edición.
        </h2>
        <h3
          class="description wow fadeInRight"
          data-wow-delay="1s"
          style="text-align: center; padding: 10px"
        >
          <em>La noche que el viento tumbó la puerta.</em>
        </h3>
        <p class="description wow fadeInRight" data-wow-delay="1s">
          La mariposa como símbolo de transformación, surca por las líneas de
          este texto, de esta revista, no es el discurso lo que indica esta
          metamorfosis, es el vuelo de la mariposa, su gracia y su entusiasmo lo
          que se considera propio en Equinoccio.
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="section section-image section-login"
  style="background-image: url('assets/img/pazc.jpg')"
>
  <div class="container wow bounceInDown" data-wow-delay="1.5s">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
        <h3 class="title">Cuarta Edición.</h3>
        <div class="card">
          <img
            src="https://i.imgur.com/Sr8qmfX.png"
            alt=""
            class="img-rounded img-responsive"
            style="width: 400px; height: 500px"
          />
        </div>
        <div class="col text-center" routerLinkActive="active">
          <a
            href="https://equinoccioliterario.com/#/cuarta-edicion"
            target="_blank"
            class="btn btn-link btn-default btn-round"
            >Ver Edicion</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
